body {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.setGrid {
text-align: center;
font-size: large;
margin-top: 15px;
}

.board {
  width: 500px;
  height: 500px;
  display: grid;
  border: 2px solid black;
}

.allButtons {
  margin-bottom: 10px;
}

.popup {
  font-size: large;
  margin-right: 50px;
  color: white;
  background-color: red;
}

.randomBtn {
  font-size: large;
  margin-right: 50px;
  color: white;
  background-color: blue;
}

.resetBtn {
  font-size: large;
  color: black;
}

h2 {
  color: black;
}

.blackBtn {
  font-size: large;
  margin-right: 50px;
  color: white;
  background-color: black;
}

